.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card_container {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: rgb(37, 248, 248);
  border-radius: 14px;
}

.card_title {
  font-size: 44px;
  align-self: center;
}

.card_button {
  width: 40%;
  align-self: center;
  border: none;
  border-radius: 14px;
  padding: 0.3rem;
  font-size: 19px;
  background-color: rgb(255, 255, 100);
  font-family: "Pacifico", cursive;
  transition: all 200ms;
}

.card_button_underlined {
  width: 70%;
  align-self: center;
  border: none;
  border-radius: 14px;
  padding: 0.5rem;
  font-size: 16px;
  background-color: transparent;
  text-decoration: underline;
}

.card_button:hover,
.card_button_underlined:hover {
  cursor: pointer;
}

.card_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  background-color: yellow;
}

.card_button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  background-color: rgb(241, 241, 2);
}

input {
  font-size: 22px;
  padding: 0.5rem;
  border-radius: 12px;
  border: none;
}

input:focus {
  outline: transparent;
}

label {
  font-size: 18px;
  font-weight: 100;
}
